<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>McD 0059</title>
  <link rel="stylesheet" href="/private/css/main.css">
  <script src="/private/js/main.js" defer></script>
  <script src="/private/js/index.js" defer></script>
</head>
<body>
  <div id="app-root">
    <main>
      <div class="container">
        <span class="title">McD 0059</span>

        <div class="content"></div>

        <div class="footer-container">
          <span class="inner-footer-text">
            <button class="logout-button">
              <span>Logga ut</span>
            </button>
          </span>
        </div>
      </div>
    </main>
    <div class="loading-screen">
      <div class="theme-spinner"></div>
    </div>
  </div>
</body>
</html>