<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>McD 0059</title>
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/pin.css">
  <script src="/public/js/main.js" defer></script>
</head>
<body>
  <div id="app-root">
    <main>
      <div class="container">
        <span class="title">Ange lösenkod</span>
        <ul class="passcode-skeleton-list">
          <li class="passcode-skeleton-item"></li>
          <li class="passcode-skeleton-item"></li>
          <li class="passcode-skeleton-item"></li>
          <li class="passcode-skeleton-item"></li>
          <li class="passcode-skeleton-item"></li>
          <li class="passcode-skeleton-item"></li>
        </ul>

        <div class="passcode-grid-template">
          <button class="passcode-button">
            <span>1</span>
          </button>
          <button class="passcode-button">
            <span>2</span>
          </button>
          <button class="passcode-button">
            <span>3</span>
          </button>
          <button class="passcode-button">
            <span>4</span>
          </button>
          <button class="passcode-button">
            <span>5</span>
          </button>
          <button class="passcode-button">
            <span>6</span>
          </button>
          <button class="passcode-button">
            <span>7</span>
          </button>
          <button class="passcode-button">
            <span>8</span>
          </button>
          <button class="passcode-button">
            <span>9</span>
          </button>
          <div></div>
          <button class="passcode-button">
            <span>0</span>
          </button>
          <div></div>
        </div>

        <div class="footer-container">
          <span class="inner-footer-text">
            <a class="inner-footer-link" href="/login">Avbryt</a>
          </span>
        </div>
      </div>
    </main>
  </div>
</body>
</html>